
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Covid", FormMethod.Post, new { @id = "Id_Form_Edit" }))
{
    <input type="hidden" name="id" value="@Model.id"/>
    <form>
        <div class="container">
            <div class="form-group">
                <label for="email">Email Address *</label>
                <input type="text" class="form-control" name="email" id="email" value="@Model.email">
            </div>
            <div class="form-group">
                <label for="nama">Nama *</label>
                <input type="text" class="form-control" name="nama" id="nama" value="@Model.nama">
            </div>
            <div class="form-group">
                <label for="npm">NPM/NIS *</label>
                <input type="text" class="form-control" name="npm" id="npm" value="@Model.npm">
            </div>
            <div class="form-group">
                <label for="umur">Umur *</label>
                <input type="text" class="form-control" name="umur" id="umur" value="@Model.umur">
            </div>
            <div class="form-group">
                <label for="jenis_kelamin">Jenis Kelamin *</label>
                <select class="form-control" id="jenis_kelamin" name="jenis_kelamin">
                    @{
                        if (Model.jenis_kelamin == false)
                        {
                            <option value="0" selected>Perempuan</option>
                            <option value="1">Laki-laki</option>
                        }
                        else
                        {
                            <option value="0">Perempuan</option>
                            <option value="1" selected>Laki-laki</option>
                        }
                    }

                </select>
                @*<input type="text" class="form-control" id="jenis_kelamin">*@
            </div>
            <div class="form-group">
                <label for="telepon">Telp *</label>
                <input type="text" class="form-control" name="telepon" id="telepon" value="@Model.telepon">
            </div>
            <div class="form-group">
                <label for="alamat_saat_ini">Alamat Saat Ini *</label>
                <input type="text" class="form-control" name="alamat_saat_ini" id="alamat_saat_ini" value="@Model.alamat_saat_ini">
            </div>
            <div class="form-group">
                <label for="alamat_asal">Alamat Asal</label>
                <input type="text" class="form-control" name="alamat_asal" id="alamat_asal" value="@Model.alamat_asal">
            </div>
            <div class="form-group">
                <label for="posisi_saat_ini">Saat Ini Saya Berada Di *</label>
                <input type="text" class="form-control" name="posisi_saat_ini" id="posisi_saat_ini" value="@Model.posisi_saat_ini">
            </div>


            <div class="modal-footer">
                <div class="form-group" style="float:right;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btn-Add" type="submit" class="btn btn-danger">Kirim</button>
                </div>
            </div>
        </div>



    </form>


}
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(function () {
        $("#Id_Form_Edit").validate({
            errorClass: 'errors',
            rules: {
                email: {
                    required: true,
                },
                nama: {
                    required: true,
                },
                npm: {
                    required: true,
                    number: true,
                    maxlength: 8,
                },
                umur: {
                    required: true,
                },
                jenis_kelamin: {
                    required: true,
                },
                telepon: {
                    required: true,
                    number: true,
                    maxlength: 13,
                },
                alamat_saat_ini: {
                    required: true,
                },
                alamat_asal: {
                    required: true,
                },
                posisi_saat_ini: {
                    required: true,
                }
            },
            messages: {
                email: {
                    required: "Please input EMAIL",
                },
                nama: {
                    required: "Please input NAME",
                },
                npm: {
                    required: "Please input NPM/NIS",
                    number: "Must Be Number",
                    maxlength: "Max Length 8"

                },
                umur: {
                    required: "Please input Umur Anda",
                },
                jenis_kelamin: {
                    required: "Please Input Alamat Saat Ini",

                },
                telepon: {
                    required: "Please Input Telepon",
                    maxlength: "Max Length 13",
                    number: "Must Be Number",

                },

                alamat_saat_ini: {
                    required: "Please Input Alamat Saat Ini",

                },
                alamat_asal: {
                    required: "Please Input Alamat Asal",

                },
                posisi_saat_ini: {
                    required: "Please Input Posisi Saat Ini",

                }
            },

            submitHandler: function (form) {
                var dataForm = $(form).serialize();
                debugger;
                $.ajax({
                    url: '/Covid/Edit',
                    data: dataForm,
                    method: 'post',
                    dataType: 'json',
                    success: function (response) {
                        if (response.message == "Berhasil") {
                            alert(response.message)
                            window.location.reload()
                        }
                        else {
                            alert(response.message);
                        }
                    }
                });
            }
        });
    });


</script>